Repository bcgov/nr-compliance-enforcement, pull requests merged in 2024-09, with the labels that each got.

#607 feat: CE-977 create ceeb decison
  backend/src/types/models/case-files/ceeb/decision/create-decision-input.ts
  backend/src/types/models/case-files/ceeb/decision/decision-input.ts
  backend/src/types/models/case-files/ceeb/decision/update-decison-input.ts
  backend/src/types/models/code-tables/decision-type.ts
  backend/src/types/models/code-tables/discharge.ts
  backend/src/types/models/code-tables/index.ts
  backend/src/types/models/code-tables/non-compliance.ts
  backend/src/types/models/code-tables/rationale.ts
  backend/src/types/models/code-tables/schedule.ts
  backend/src/types/models/code-tables/sector-code.ts
  backend/src/v1/case_file/case_file.controller.ts
  backend/src/v1/case_file/case_file.service.ts
  backend/src/v1/code-table/code-table.service.ts
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-item.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-outcome-report.tsx
  frontend/src/app/constants/case_actions.ts
  frontend/src/app/constants/code-table-types.ts
  frontend/src/app/store/migrations.ts
  frontend/src/app/store/migrations/migration-13.ts
  frontend/src/app/store/migrations/migration-15.ts
  frontend/src/app/store/reducers/case-selectors.ts
  frontend/src/app/store/reducers/case-thunks.ts
  frontend/src/app/store/reducers/cases.ts
  frontend/src/app/store/reducers/code-table-selectors.ts
  frontend/src/app/store/reducers/code-table-thunks.ts
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/store/reducers/officer.ts
  frontend/src/app/store/store.ts
  frontend/src/app/types/app/case-files/base-case-file-input.ts
  frontend/src/app/types/app/case-files/ceeb/decision/create-decision-input.ts
  frontend/src/app/types/app/case-files/ceeb/decision/decision-action-input.ts
  frontend/src/app/types/app/case-files/ceeb/decision/decision.ts
  frontend/src/app/types/app/case-files/ceeb/decision/update-decsion-input.ts
  frontend/src/app/types/app/code-tables/decision-type.ts
  frontend/src/app/types/app/code-tables/discharge.ts
  frontend/src/app/types/app/code-tables/non-compliance.ts
  frontend/src/app/types/app/code-tables/rationale.ts
  frontend/src/app/types/app/code-tables/schedule.ts
  frontend/src/app/types/app/code-tables/sector.ts
  frontend/src/app/types/state/cases-state.ts
  frontend/src/app/types/state/code-table-state.ts
  migrations/migrations/R__Create-Test-Data.sql
Labels: case_management_5

#621 feat: CE-1003 Add notes to CEEB complaint outcome
  backend/src/v1/case_file/case_file.controller.ts
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-outcome-report.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-outcome-report.tsx
  frontend/src/app/components/containers/complaints/outcomes/supplemental-note.tsx
  frontend/src/app/components/containers/complaints/outcomes/supplemental-notes/supplemental-notes-input.tsx
  frontend/src/app/store/reducers/case-thunks.ts
Labels: case_management_3

#620 feat: CE-1002 Allow CEEB users to capture authorization number
  backend/src/types/models/case-files/ceeb/site/create-authorization-outcome-input.ts
  backend/src/types/models/case-files/ceeb/site/delete-authorization-outcome-input.ts
  backend/src/types/models/case-files/ceeb/site/permit-site-input.ts
  backend/src/types/models/case-files/ceeb/site/update-authorization-outcome-input.ts
  backend/src/v1/case_file/case_file.controller.ts
  backend/src/v1/case_file/case_file.service.ts
  frontend/src/app/components/common/comp-input.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/authorization-outcome/authorization-outcome-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/authorization-outcome/authorization-outcome-item.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/authorization-outcome/authorization-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-outcome-report.tsx
  frontend/src/app/components/modal/instances/delete-confirm-modal-v2.tsx
  frontend/src/app/components/modal/instances/index.ts
  frontend/src/app/components/modal/model-components.ts
  frontend/src/app/store/reducers/case-selectors.ts
  frontend/src/app/store/reducers/case-thunks.ts
  frontend/src/app/store/reducers/cases.ts
  frontend/src/app/types/app/case-files/case-file.ts
  frontend/src/app/types/app/case-files/ceeb/authorization-outcome/create-authorization-outcome-input.ts
  frontend/src/app/types/app/case-files/ceeb/authorization-outcome/delete-authorization-outcome-input.ts
  frontend/src/app/types/app/case-files/ceeb/authorization-outcome/permit-site.ts
  frontend/src/app/types/app/case-files/ceeb/authorization-outcome/update-authorization-outcome-input.ts
  frontend/src/app/types/modal/modal-types.ts
  frontend/src/app/types/state/cases-state.ts
  frontend/src/assets/sass/outcome-report.scss
Labels: case_management_5

#629 fix: CE-1059 Unable to save Decision section without entering all fields - incorrect toast
  backend/src/v1/case_file/case_file.controller.ts
  backend/src/v1/case_file/case_file.service.ts
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-item.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision.tsx
  frontend/src/app/store/reducers/case-selectors.ts
  frontend/src/app/store/reducers/case-thunks.ts
  frontend/src/app/types/app/case-files/case-file.ts
Labels: case_management_4

#651 fix: CE-1086-Actions Taken not being loaded into system
  .github/workflows/merge-hotfix.yml
  migrations/migrations/R__update-insert-complaint-from-staging.sql
Labels: hotfix

#650 feat: CE-1046 create a read only level of access for nat com
  backend/src/auth/jwtrole.guard.ts
  frontend/src/app/common/api.ts
  frontend/src/app/components/containers/admin/user-management.tsx
  frontend/src/app/constants/ceeb-roles.ts
  frontend/src/app/store/reducers/complaints.ts
Labels: case_management_2

#654 feat: CE-1035 Update lead agency field in CEEB decision
  backend/src/types/models/code-tables/index.ts
  backend/src/v1/code-table/code-table.service.ts
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-item.tsx
  frontend/src/app/constants/code-table-types.ts
  frontend/src/app/store/migrations.ts
  frontend/src/app/store/migrations/migration-17.ts
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/store/store.ts
  frontend/src/app/types/state/code-table-state.ts
  migrations/migrations/R__Create-Test-Data.sql
  migrations/migrations/V0.28.1__CE-1035.sql
Labels: case_management_5

#652 feat: CE-1066 update rationale to text field
  backend/src/types/models/code-tables/index.ts
  backend/src/types/models/code-tables/rationale.ts
  backend/src/v1/code-table/code-table.service.ts
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-item.tsx
  frontend/src/app/constants/code-table-types.ts
  frontend/src/app/store/reducers/code-table-selectors.ts
  frontend/src/app/store/reducers/code-table-thunks.ts
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/types/app/code-tables/rationale.ts
  frontend/src/app/types/state/code-table-state.ts
Labels: case_management_2

#662 chore: CE-1083 High Vulnerabilities
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  webeoc/package-lock.json
  webeoc/package.json
Labels: case_management_3

#667 fix: Recreated CE-1054 directly on the Orca release avoiding the rebase.
  backend/src/types/models/code-tables/index.ts
  backend/src/types/models/code-tables/schedule-sector-xref.ts
  backend/src/v1/code-table/code-table.service.ts
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-item.tsx
  frontend/src/app/constants/code-table-types.ts
  frontend/src/app/store/migrations.ts
  frontend/src/app/store/migrations/migration-18.ts
  frontend/src/app/store/reducers/code-table-selectors.ts
  frontend/src/app/store/reducers/code-table-thunks.ts
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/types/app/code-tables/schedule-sector-xref.ts
  frontend/src/app/types/code-tables/schedule-sector.ts
  frontend/src/app/types/state/code-table-state.ts
Labels: case_management_1
