Repository bcgov/nr-compliance-enforcement, pull requests merged in 2024-05, with the labels that each got.

#312 bug: CE-491 Adding Jetstream prevent duplicate complaints
  .github/workflows/deploy-nats.yml
  .github/workflows/pr-open.yml
  backend/db/migrations/R__0.14.0__CE-101.sql
  docker-compose.yml
  webeoc/openshift.deploy.yml
  webeoc/package-lock.json
  webeoc/package.json
  webeoc/src/common/constants.ts
  webeoc/src/complaints-publisher/complaints-publisher.service.ts
  webeoc/src/complaints-subscriber/complaints-subscriber.service.ts
  webeoc/src/main.ts
  webeoc/src/staging-complaints-api-service/staging-complaints-api-service.service.ts
  webeoc/src/webeoc-complaints-scheduler/webeoc-complaints-scheduler.service.ts
Labels: bug

#418 chore(case management)!: CE-579 Refactor
  backend/src/v1/case_file/case_file.service.ts
  frontend/src/app/components/containers/complaints/outcomes/hwcr-supplemental-notes.tsx
  frontend/src/app/store/reducers/case-thunks.ts
  frontend/src/app/types/outcomes/case-action.ts
Labels: case_management_1

#431 feature/CE-557-Add-the-ability-to-indicate-whether-or-not-a-trap-captured-an-animal
  backend/src/types/models/case-files/supplemental-notes/equipment/equipment-details.ts
  backend/src/types/models/code-tables/equipment.ts
  backend/src/v1/case_file/case_file.service.ts
  backend/src/v1/code-table/code-table.service.ts
  frontend/src/app/components/common/comp-radiogroup.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-equipment/equipment-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-equipment/equipment-item.tsx
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/types/app/case-files/equipment-details.ts
  frontend/src/app/types/app/code-tables/equipment.ts
  frontend/src/assets/sass/hwcr-equipment.scss
Labels: case_management_3

#432 feat: CE-693 change textfields from varchar4000 to text
  backend/db/migrations/R__0.14.0__CE-101.sql
  backend/db/migrations/V0.20__CE-693.sql
  frontend/src/app/common/validation-textarea.tsx
  frontend/src/app/components/containers/complaints/details/complaint-details-create.tsx
  frontend/src/app/components/containers/complaints/details/complaint-details-edit.tsx
  frontend/src/app/components/containers/complaints/outcomes/supplemental-notes/supplemental-notes-input.tsx
Labels: case_management_4
