Repository bcgov/nr-compliance-enforcement, pull requests merged in 2024-11, with the labels that each got.

#734 feat: CEEB Outcome export
  backend/src/app.module.ts
  backend/src/external_api/case_management.ts
  backend/src/external_api/cdogs/cdogs.service.ts
  backend/src/middleware/maps/automapper-entity-to-dto-maps.ts
  backend/src/types/configuration-codes.ts
  backend/src/types/models/case-files/case-file.ts
  backend/src/types/models/case-files/ceeb/decision/create-decision-input.ts
  backend/src/types/models/case-files/ceeb/decision/decision-input.ts
  backend/src/types/models/case-files/ceeb/decision/update-decison-input.ts
  backend/src/types/models/case-files/ceeb/site/create-authorization-outcome-input.ts
  backend/src/types/models/case-files/ceeb/site/permit-site-input.ts
  backend/src/types/models/case-files/ceeb/site/update-authorization-outcome-input.ts
  backend/src/types/models/reports/complaints/complaint-report-data.ts
  backend/src/v1/case_file/case_file.module.ts
  backend/src/v1/case_file/case_file.service.spec.ts
  backend/src/v1/case_file/case_file.service.ts
  backend/src/v1/complaint/complaint.module.ts
  backend/src/v1/complaint/complaint.service.spec.ts
  backend/src/v1/complaint/complaint.service.ts
  backend/src/v1/document/document.controller.spec.ts
  backend/src/v1/document/document.controller.ts
  backend/src/v1/document/document.service.spec.ts
  backend/src/v1/document/document.service.ts
  backend/src/v1/officer/officer.module.ts
  backend/templates/complaint/CDOGS-CEEB-COMPLAINT-TEMPLATE-v1.docx
  backend/templates/complaint/CDOGS-ERS-COMPLAINT-TEMPLATE-v1.docx
  backend/templates/complaint/CDOGS-HWCR-COMPLAINT-TEMPLATE-v1.docx
  migrations/migrations/R__Create-Test-Data.sql
  migrations/migrations/R__reset-templates.sql
Labels: case_management_5

#740 chore: CE-556 HWCR drug administration information updates
  backend/src/external_api/case_management.ts
  backend/src/types/models/case-files/wildlife/drug-used-input.ts
  frontend/src/app/components/containers/complaints/outcomes/hwcr-outcome-by-animal-v2.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/animal-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/create-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/drug-item.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/drug-used.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/edit-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/outcome-common.ts
  frontend/src/app/store/migrations.ts
  frontend/src/app/store/migrations/migration-20.ts
  frontend/src/app/store/reducers/case-selectors.ts
  frontend/src/app/store/reducers/case-thunks.ts
  frontend/src/app/store/store.ts
  frontend/src/app/types/app/case-files/animal-outcome/animal-outcome-input.ts
  frontend/src/app/types/app/case-files/animal-outcome/drug-used-input.ts
  frontend/src/app/types/app/complaints/outcomes/wildlife/animal-outcome.ts
  frontend/src/app/types/app/complaints/outcomes/wildlife/drug-used.ts
  frontend/src/app/types/state/cases-state.ts
Labels: enhancement, case_management_2

#743 feat: CE-1126 HWCR assessment changes
  backend/src/external_api/case_management.ts
  backend/src/middleware/maps/automapper-entity-to-dto-maps.ts
  backend/src/types/models/case-files/wildlife/wildlife-input.ts
  backend/src/types/models/code-tables/case-location-code.ts
  backend/src/types/models/code-tables/index.ts
  backend/src/types/models/code-tables/species.ts
  backend/src/types/models/complaints/wildlife-complaint.ts
  backend/src/v1/code-table/code-table.service.ts
  backend/src/v1/complaint/complaint.service.ts
  backend/src/v1/species_code/entities/species_code.entity.ts
  frontend/cypress/e2e/change-complaint-status-details-view.cy.ts
  frontend/cypress/e2e/hwcr-outcome-assessment.cy.ts
  frontend/src/app/components/containers/complaints/outcomes/hwcr-complaint-assessment.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/animal-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/create-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/edit-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/outcome-common.ts
  frontend/src/app/constants/code-table-types.ts
  frontend/src/app/store/migrations.ts
  frontend/src/app/store/migrations/migration-20.ts
  frontend/src/app/store/migrations/migration-21.ts
  frontend/src/app/store/reducers/case-selectors.ts
  frontend/src/app/store/reducers/case-thunks.ts
  frontend/src/app/store/reducers/cases.ts
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/store/reducers/complaints.ts
  frontend/src/app/store/store.ts
  frontend/src/app/types/app/case-files/animal-outcome/animal-outcome-input.ts
  frontend/src/app/types/app/case-files/assessment-action.ts
  frontend/src/app/types/app/case-files/assessment-details.ts
  frontend/src/app/types/app/code-tables/case-location.ts
  frontend/src/app/types/app/complaints/outcomes/wildlife/animal-outcome.ts
  frontend/src/app/types/app/complaints/wildlife-complaint.ts
  frontend/src/app/types/outcomes/assessment.ts
  frontend/src/app/types/state/cases-state.ts
  frontend/src/app/types/state/code-table-state.ts
  frontend/src/assets/sass/complaint.scss
  frontend/src/assets/sass/form.scss
  migrations/migrations/V0.31.0__CE-1126.sql
Labels: case_management_1

#761 feat: CE-1252 Add search for authorization id and case id
  backend/src/v1/complaint/complaint.service.ts
Labels: case_management_1

#755 feat: CE 452
  backend/src/v1/complaint/complaint.service.ts
  backend/src/v1/complaint/entities/action_taken.entity.ts
  backend/src/v1/complaint/entities/complaint.entity.ts
  backend/src/v1/complaint_updates/entities/complaint_updates.entity.ts
Labels: case_management_5

#770 feat: CE-1158 add outcome animal filter
  backend/src/types/models/complaints/complaint-filter-parameters.ts
  backend/src/v1/complaint/complaint.service.ts
  frontend/src/app/components/containers/complaints/complaint-filter-bar.tsx
  frontend/src/app/components/containers/complaints/complaint-filter.tsx
  frontend/src/app/components/containers/complaints/complaint-list.tsx
  frontend/src/app/components/containers/complaints/complaint-map.tsx
  frontend/src/app/constants/feature-flag-types.ts
  frontend/src/app/providers/complaint-filter-provider.tsx
  frontend/src/app/store/reducers/app.ts
  frontend/src/app/store/reducers/complaints.ts
  frontend/src/app/types/app/active-filters.ts
  frontend/src/app/types/complaints/complaint-filters.ts
  frontend/src/app/types/complaints/complaint-filters/complaint-filters.ts
  migrations/migrations/R__Create-Test-Data.sql
Labels: case_management_3

#767 fix: fix nats js cleanup and bump deployer version for prod release
  .github/scripts/cleanup_nats_js.sh
  .github/workflows/pr-close.yml
  .github/workflows/pr-open.yml
  .github/workflows/release-main.yml
Labels: bug, pipeline change

#751 feat: HWCR Outcome report
  backend/src/external_api/case_management.ts
  backend/src/middleware/maps/automapper-entity-to-dto-maps.ts
  backend/src/types/models/reports/complaints/complaint-report-data.ts
  backend/src/v1/complaint/complaint.service.ts
  backend/src/v1/complaint/entities/complaint.entity.ts
  backend/src/v1/linked_complaint_xref/entities/linked_complaint_xref.entity.ts
  backend/templates/complaint/CDOGS-HWCR-COMPLAINT-TEMPLATE-v1.docx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/drug-item.tsx
Labels: case_management_1
