Repository bcgov/nr-compliance-enforcement, pull requests merged in 2025-08, with the labels that each got.

#1186 feat: CE-1667 Create Case
  frontend/cypress/e2e/complaint-search.v2.cy.ts
  frontend/cypress/support/commands.ts
  frontend/e2e/tests/ceeb-user-complaint-decision.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/App.tsx
  frontend/src/app/components/common/form-field.tsx
  frontend/src/app/components/containers/admin/feature-management.tsx
  frontend/src/app/components/containers/admin/user-management/index.tsx
  frontend/src/app/components/containers/cases/cases.tsx
  frontend/src/app/components/containers/cases/details/index.ts
  frontend/src/app/components/containers/cases/edit/case-edit-header.tsx
  frontend/src/app/components/containers/cases/edit/case-edit.tsx
  frontend/src/app/components/containers/cases/hooks/use-case-search.ts
  frontend/src/app/components/containers/cases/list/case-filter-bar.tsx
  frontend/src/app/components/containers/cases/list/case-filter.tsx
  frontend/src/app/components/containers/cases/list/case-list-item.tsx
  frontend/src/app/components/containers/cases/list/case-list.tsx
  frontend/src/app/components/containers/cases/list/index.ts
  frontend/src/app/components/containers/cases/map/case-map.tsx
  frontend/src/app/components/containers/cases/view/case-header.tsx
  frontend/src/app/components/containers/cases/view/case-view.tsx
  frontend/src/app/components/containers/cases/view/index.ts
  frontend/src/app/components/containers/complaints/complaints.tsx
  frontend/src/app/components/containers/complaints/details/complaint-details-create.tsx
  frontend/src/app/components/containers/complaints/details/complaint-details-edit.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-assessment/hwcr-assessment-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-assessment/hwcr-assessment-item.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-equipment/equipment-form.tsx
  frontend/src/app/components/containers/layout/side-bar.tsx
  frontend/src/app/graphql/hooks/useGraphQLMutation.ts
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/generated/graphql.ts
Labels: case_management_8

#1182 feat: CE-1807 add investigations details page
  .sonarcloud.properties
  frontend/src/app/App.tsx
  frontend/src/app/components/containers/admin/user-management/edit-user.tsx
  frontend/src/app/components/containers/cases/cases.tsx
  frontend/src/app/components/containers/cases/edit/case-edit.tsx
  frontend/src/app/components/containers/cases/hooks/use-case-search.ts
  frontend/src/app/components/containers/cases/list/case-filter-bar.tsx
  frontend/src/app/components/containers/cases/list/case-filter.tsx
  frontend/src/app/components/containers/cases/list/case-list-item.tsx
  frontend/src/app/components/containers/cases/list/case-list.tsx
  frontend/src/app/components/containers/cases/view/case-header.tsx
  frontend/src/app/components/containers/cases/view/case-view.tsx
  frontend/src/app/components/containers/investigations/details/index.tsx
  frontend/src/app/components/containers/investigations/details/investigation-details.tsx
  frontend/src/app/components/containers/investigations/details/investigation-header.tsx
  frontend/src/app/components/containers/investigations/investigations.tsx
  frontend/src/app/components/containers/layout/side-bar.tsx
  frontend/src/app/constants/feature-flag-types.ts
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/generated/graphql.ts
  migrations-cm/sql/V1.15.0__CE-356_data_tables.sql
  migrations/migrations/R__Create-Test-Data.sql
Labels: case_management_7

#1198 feat: Update officer assigned flag in webEOC
  backend/package.json
  backend/src/external_api/webeoc/webeoc.module.ts
  backend/src/external_api/webeoc/webeoc.service.spec.ts
  backend/src/external_api/webeoc/webeoc.service.ts
  backend/src/v1/complaint_referral/complaint_referral.service.spec.ts
  backend/src/v1/person_complaint_xref/person_complaint_xref.controller.spec.ts
  backend/src/v1/person_complaint_xref/person_complaint_xref.controller.ts
  backend/src/v1/person_complaint_xref/person_complaint_xref.module.ts
  backend/src/v1/person_complaint_xref/person_complaint_xref.service.spec.ts
  backend/src/v1/person_complaint_xref/person_complaint_xref.service.ts
  charts/app/Chart.yaml
  charts/app/templates/secret.yaml
  charts/app/values.yaml
  frontend/package.json
  webeoc/package.json
Labels: ME ME ME ME!

#1197 chore: Update dangerous re-runnable DB script
  backend/package.json
  charts/app/Chart.yaml
  frontend/package.json
  migrations/migrations/R__0.10.3__CE-216.sql
  webeoc/package.json
Labels: ME ME ME ME!

#1204 fix: CE-1864 refinement of search tooltip
  backend/package.json
  charts/app/Chart.yaml
  frontend/package.json
  frontend/src/app/components/common/search-input.tsx
  frontend/src/app/components/containers/admin/user-management/edit-user.tsx
  frontend/src/app/store/reducers/app.ts
  frontend/src/app/store/reducers/complaints.ts
  frontend/src/assets/sass/misc.scss
  webeoc/package.json
Labels: ME ME ME ME!

#1203 feat: CE-1802 View Party Detail
  charts/app/Chart.yaml
  frontend/src/app/App.tsx
  frontend/src/app/components/common/action-menu.tsx
  frontend/src/app/components/containers/cases/view/case-header.tsx
  frontend/src/app/components/containers/parties/view/index.ts
  frontend/src/app/components/containers/parties/view/party-header.tsx
  frontend/src/app/components/containers/parties/view/party-view.tsx
  frontend/src/assets/sass/app.scss
  frontend/src/assets/sass/party.scss
  frontend/src/generated/graphql.ts
Labels: case_management_5, ME ME ME ME!
