Repository bcgov/nr-compliance-enforcement, pull requests merged in 2025-02, with the labels that each got.

#921 feat: CE-1324 Add Equipment Quantity
  backend/src/external_api/case_management.ts
  backend/src/types/models/case-files/equipment/equipment-details.ts
  backend/src/types/models/code-tables/equipment.ts
  backend/src/v1/code-table/code-table.service.ts
  backend/src/v1/complaint/complaint.service.ts
  backend/templates/complaint/CDOGS-HWCR-COMPLAINT-TEMPLATE-v1.docx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-equipment/equipment-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-equipment/equipment-item.tsx
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/types/app/case-files/equipment-details.ts
  frontend/src/app/types/app/code-tables/equipment.ts
Labels: case_management_1

#933 feat: Add BC Parks Into NatCom
  backend/src/auth/decorators/roles.decorator.ts
  backend/src/common/methods.ts
  backend/src/enum/role.enum.ts
  backend/src/external_api/bc_geo_coder/bc_geo_coder.controller.ts
  backend/src/v1/case_file/case_file.controller.ts
  backend/src/v1/code-table/code-table.controller.ts
  backend/src/v1/comp_mthd_recv_cd_agcy_cd_xref/comp_mthd_recv_cd_agcy_cd_xref.controller.ts
  backend/src/v1/complaint/complaint.controller.ts
  backend/src/v1/complaint/complaint.service.spec.ts
  backend/src/v1/complaint/complaint.service.ts
  backend/src/v1/complaint_updates/complaint_updates.controller.ts
  backend/src/v1/configuration/configuration.controller.ts
  backend/src/v1/document/document.controller.ts
  backend/src/v1/feature_flag/feature_flag.controller.ts
  backend/src/v1/office/office.controller.ts
  backend/src/v1/officer/officer.controller.ts
  backend/src/v1/person_complaint_xref/person_complaint_xref.controller.ts
  frontend/cypress.config.ts
  frontend/cypress/e2e/ceeb-user-complaint-method.cy.ts
  frontend/cypress/e2e/complaint-filters-ceeb.cy.ts
  frontend/cypress/e2e/complaint-search.v2.cy.ts
  frontend/src/app/App.tsx
  frontend/src/app/components/containers/admin/user-management/edit-user.tsx
  frontend/src/app/components/containers/complaints/complaint-filter.tsx
  frontend/src/app/components/containers/complaints/complaint-list-tabs.tsx
  frontend/src/app/components/containers/complaints/complaints.tsx
  frontend/src/app/components/containers/complaints/headers/allegation-complaint-list-header.tsx
  frontend/src/app/components/containers/complaints/list-items/allegation-complaint-list-item.tsx
  frontend/src/app/components/containers/layout/side-bar.tsx
  frontend/src/app/components/routing/protected-routes.tsx
  frontend/src/app/constants/ceeb-roles.ts
  frontend/src/app/service/user-service.tsx
  frontend/src/app/store/reducers/code-table.ts
  frontend/src/app/store/reducers/officer.ts
  frontend/src/app/types/app/complaint-types.ts
  frontend/src/app/types/app/menu-item.ts
  frontend/src/app/types/app/roles.ts
  migrations/migrations/R__Create-Test-Data.sql
  migrations/test-only-migrations/R__Test-Data-Creation.sql
Labels: case_management_2

#947 feat: CE-1428-ability-to-clear-optional-drop-down-fields
  backend/src/v1/complaint/complaint.service.ts
  backend/src/v1/person_complaint_xref/person_complaint_xref.service.ts
  frontend/cypress/e2e/allegation-details-edit.cy.ts
  frontend/cypress/e2e/hwcr-details-edit.cy.ts
  frontend/src/app/common/validation-multiselect.tsx
  frontend/src/app/components/common/comp-select.tsx
  frontend/src/app/components/containers/complaints/details/complaint-details-create.tsx
  frontend/src/app/components/containers/complaints/details/complaint-details-edit.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/ceeb/ceeb-decision/decision-item.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-complaint-assessment.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-equipment/equipment-form.tsx
  frontend/src/app/components/containers/complaints/outcomes/hwcr-prevention-education.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/create-outcome.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/drug-authorized-by.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/drug-item.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/drug-used.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/ear-tag.tsx
  frontend/src/app/components/containers/complaints/outcomes/oucome-by-animal/edit-outcome.tsx
  frontend/src/app/types/app/case-files/ceeb/decision/decision.ts
  frontend/src/app/types/outcomes/assessment.ts
Labels: case_management_6
